.containerHome{
    background-image: url("../../assets/images/Home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 230vh;
}

.title{
    color: azure;
}

.cardContainerSearch{
    width: 700px;

}

.searchCard{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

}