.containerForm{
    background-image: url("../../assets/images/Create.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 150vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #8f884bc0;
    width: 430px;
    height: 800px;
    margin: auto;
}

label {
    margin: 10px 0;
}

input, select {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #fffbfb;
    color:aliceblue;
    background-color: #5ac0a8b7;  
}

buttonForm {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #6cc0ac;
    cursor: pointer;
}


.img{
    width: 300px;
    border-radius: 50%;
}



.error{
    color: red;
}