.paginationContainer {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparentr
  }
  
  .pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .number {
    margin: 0 5px;
  }
  
  .number a {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #e9e0e0;
    background-color: #000000;
  }
  
  .number a:hover {
    background-color: #ccc;
  }